# System Files
.DS_Store
Thumbs.db

# Composer
/vendor
composer.phar

# Caches
.sass-cache

# Compiled Files
/bootstrap/compiled.php

# Laravel Files
.env.*.php
LARAVEL_ENV

# Misc
/forums/
/dump.rdb
public/packages/*
node_modules/*
