//========================================
// Sidebar
//========================================
.sidebar {
	@include column(4);

	.block {
		+.block { margin-top: 50px }
	}

	h2 {
		@include text-shadow(#333 0 2px 3px);
		border-bottom: 2px solid #FFF;
		border-top: 2px solid #FFF;
		font-size: 20px;
		margin: 0 0 15px;
		padding: 5px;
	}

	.progress-bar {
		background: $tfred;
		border: 2px solid #FFF;
		color: #FFF;
		height: 30px;
		position: relative;
		width: 100%;

		p {
			height: 100%;
			line-height: 30px;
			position: relative;
			text-align: center;
			z-index: 10;
		}

		.fill {
			background: $tfblue;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 0%;
		}
	}

	.potm {
		img { width: 100% }

		dl {
			clear: both;
			overflow: hidden;
		}

		dt {
			clear: left;
			margin: 0 5px 0 0;
			float: left;
			font-weight: bold;
		}

		dd { float: left }

		.interview {
			clear: both;
			display: block;
			margin: 10px 0 0;
		}
	}
}