// Compass Imports
@import "compass/css3";

// Settings / Variables
@import "settings";

h2 { clear: both }

.forum {
	display: table-row;

	+.forum {
		border-top: 1px solid #FFF;
	}
}

.status, .forum-info, .topic-c, .post-c, .last-post {
	display: table-cell;
}

.status {
	width: 50px;
}

.forum-info {
	width: auto;
}

.topic-c {
	width: 50px;
}

.post-c {
	width: 50px;
}

.last-post {
	width: auto;
}

