body {
    background: image-url("bg-main.png") repeat #333;
    color: #fff;
    font-family: $f-body;
    font-size: 16px;
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}

strong, b { font-weight: bold }

em, i { font-style: italic }

pre, code {
    font-family: Monaco, Menlo, Courier New, Monospace;
    margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $f-headings;
}

table {
    margin: 15px 0;
    width: 100%;

    thead {
        border-bottom: 2px solid #fff;

        th, td { font-weight: bold }
    }

    th { font-weight: bold }
}

//========================================
// Wrappers
//========================================
.o-wrap {
    margin: auto;
    max-width: 1200px;
    overflow: hidden;
}

.i-wrap { @include column(16) }

.main-wrapper {
    clear: both;
    padding: 20px 0;
}

//========================================
// Errors
//========================================
.error {
    background: $tfred;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 1;
    padding: 10px;

    + .error { margin-top: 10px }

    &:last-of-type { margin-bottom: 20px }
}

//========================================
// Pagination
//========================================
.pagination {
    font-size: 16px;

    li {
        background: $lightblue;
        border: 1px solid $lightblue;
        color: $gray;
        display: inline-block;
        line-height: 1;
        margin: 0 5px 0 0;

        a, span {
            color: inherit;
            display: block;
            padding: 5px;
        }
    }

    .active {
        background: $gray;
        color: $lightblue;
    }

    .disabled { cursor: default }
}

//========================================
// Modal
//========================================
.confirmation-modal {
    background-color: $gray;
    border: 2px solid black;

    h3 {
        background: $lightblue;
        color: $gray;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 10px;
    }

    .content {
        display: block;
        float: none;
        margin: auto;
        padding: 10px;
        width: auto;
    }

    .buttons {
        border-top: 1px dotted;
        padding: 10px;
    }

    button {
        background: #c9dff2;
        border: 1px solid white;
        color: #4c4f59;
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;

        &.yes {
            background-color: $tfred;
            color: white;
        }

        + button {
            margin-left: 10px
        }

        &:hover {
            background-color: black;
            color: white;
        }
    }
}