//========================================
// Variables
//========================================
$f-headings: "nimbus-sans", Helvetica, Arial, Sans-serif;
$f-body: "museo-sans", Helvetica, Arial, Sans-serif;

// Colours
$black: #07070d;
$gray: #4c4f59;
$lightblue: #c9dff2;
$tfred: #b66d5d;
$tfblue: #3c9cfd;
$green: #0ca32c;

// Group Colours
$founder: #900;
$admin: #f60;
$manager: #0c3;
$community-team: #09c;
$donor: #fc3;