/***** News Months List *****/
ul#archive_months li + li {
margin-top:8px;
}

#archive_months a {
font-size:14pt;
text-decoration:none;
}

/***** News Posts *****/
.news_item .title {
font-size:16pt;
font-weight:700;
}

.news_item .content {
letter-spacing:.5px;
line-height:18px;
margin:12px 0;
word-spacing:3px;
}

.news_item .content .edit_date {
color:#9698A3;
font-style:italic;
letter-spacing:normal;
margin-top:2px;
word-spacing:0;
}

.news_item .user,.news_item .edit_user {
color:inherit;
font-weight:700;
text-decoration:none;
}

.news_item .user:hover,.news_item .edit_user:hover {
color:red;
}

.news_item .date {
text-align:right;
}

.news_item .content p+p {
margin-top:8px;
}

.news_item ul {
list-style:disc outside none;
margin-left:30px;
}