#server_popup_holder{
position:absolute;
z-index:1;
left:20px;
top:20px;
display:none;
width: 300px;
}


.server_popup{
border:1px solid white;
padding:8px;
background-color:#2D303F;
}

.server_popup .close{
float:right;
cursor:pointer;
}

.server_popup .status{
font-weight:bold;
float:left;
}

.server_popup .hostname{
font-weight:bold;
clear:both;
}

.server_popup .status.online{
color:green;
}
.server_popup .status.offline{
color:red;
}
.server_popup .status.unknown{
color:#FFFF00;
}
/***** Ventrilo Popup *****/

#channel_list{
border:1px solid white;
background-color:#9698A3;
color:#101620;
padding:8px;
margin-top:10px;
}

#channel_list li.channel{
list-style: square url(/assets/images/channelopen.png) inside;
font-weight:bold;
}

#channel_list .channel li{
margin-left: 25px;
}

#channel_list .channel .player{
list-style: circle url(/assets/images/voiceoff.png) inside;
font-weight:normal;
}

/***** Source Popup *****/

table#player_list{
border:1px solid white;
background-color:#9698A3;
color:#101620;
padding:8px;
width:100%;
margin-top:10px;
}

div#player_list{
border:1px solid white;
background-color:#9698A3;
color:#101620;
padding:8px;
margin-top:10px;
}

#player_list .headings{
border-bottom: 1px solid black;
}

#player_list th{
font-weight:bold;
}

#player_list .color1{
background-color:#AAACB8;
}

#player_list td,#player_list th{
padding:2px 4px;
} 

#player_list .name{
width:250px;
}

#player_list .kills{
text-align:right;
}
/***** Other Popup *****/
#other_popup{
	#
}