/***** Donor List *****/
#donor_list {
width: 466px;
}
#donor_list th {
font-weight: bold;
}
#donor_list tr.color2 {
background-color: #9698A3;
}
#donor_list tr.headings2 {
border-bottom: 2px solid white;
}
#donor_list tr.user1 td,#donor_list tr.headings1 th {
padding: 4px 4px 1px 4px;
}
#donor_list tr.user2 td,#donor_list tr.headings2 th {
padding: 1px 4px 4px 4px;
}
.user2 + .user1 {
border-top: 3px solid #A1A1A1;
}
#donor_list td.total,#donor_list td.expire_date {
text-align: right;
}
