/***** Server List *****/
#server_list{
width:466px;
}

#server_list th{
font-weight: bold;
}

#server_list tr.color2 {
background-color:#9698A3;
}

#server_list tr.headings2{
border-bottom:2px solid white;
}

#server_list tr.server1 td, #server_list tr.headings1 th{
padding:4px 4px 1px 4px;
}

#server_list tr.server2 td, #server_list tr.headings2 th{
padding: 1px 4px 4px 4px;
}


.server2 + .server1{
border-top:3px solid #A1A1A1;
}