//========================================
// Header
//========================================
.page-header {
	background: image-url("bg-header.png") repeat-x;
	border-bottom: 2px solid $lightblue;
	clear: both;
	overflow: hidden;

	h1 {
		background: image-url("banner.jpg") no-repeat scroll left 0 #FFF;
		font-size: 50px;
		height: 192px;
		line-height: 250px;
		margin: 15px 0;
		overflow: hidden;
		text-align: left;
		text-indent: -999px;

		@media screen and (max-width: 940px) { background-position: right 0 }
	}

	.tabs {
		clear: both;
		overflow: hidden;
	}

	.tab {
		@include border-radius(0 0 3px 3px);
		background: $lightblue;
		color: $gray;
		display: block;
		float: right;
		font-weight: bold;
		padding: 0 5px;
		padding: 5px 10px;

		+.tab { margin-left: 10px }
	}
}

//========================================
// Navigation
//========================================
.navigation {
	@include column(3);
	font-family: $f-headings;

	a {
		background: $lightblue;
		color: $gray;
		display: inline-block;
		font-weight: bold;

		&:hover {
			background: $gray;
			color: $lightblue;
		}
	}

	li {
		max-width: 100%;
		overflow: hidden;

		+ li { margin-top: 5px }
	}

	.main-nav {
		a {
			font-size: 22px;
			padding: 6px 24px;

			&:hover {
				border-left: 4px solid $lightblue;
				border-right: 4px solid $lightblue;
				padding: 6px 20px;
			}
		}
	}

	.sub-nav {
		border-top: 2px solid $lightblue;
		margin-top: 10px;
		padding-top: 10px;

		a {
			font-size: 16px;
			padding: 4px 14px;

			&:hover {
				border-left: 2px solid $lightblue;
				border-right: 2px solid $lightblue;
				padding: 4px 12px;
			}
		}
	}
}