//========================================
// Variables
//========================================
$f-headings: "nimbus-sans", Helvetica, Arial, Sans-serif;
$f-body: "museo-sans", Helvetica, Arial, Sans-serif;


// Colours
$black: #07070D;
$gray: #4C4F59;
$lightblue: #C9DFF2;
$tfred: #B66D5D;
$tfblue: #3C9CFD;
$green: #0CA32C;

// Group Colours
$founder: #990000;
$admin: #FF6600;
$manager: #00CC33;
$community-team: #0099CC;
$donor: #FFCC33;